# بيانات الموظفين
Data/*
!Data/.gitkeep

static/fake_frames/*
static/verified_frames/*
static/failed_frames/*

*.pkl
shape_predictor_68_face_landmarks.dat

# نتائج وتشغيل النظام
# verified_log.csv
# verification_results.csv

# ملفات مؤقتة من بايثون
__pycache__/
*.pyc
